body{
	background-color: #d3d3d3;
}
.login{
	width: 40vw;
	background-color: white;
	padding: 20px;
	display: block;
	margin: 0 auto;
	border-radius: 10px;
}

form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.inputField{
	margin: 10px;

}