@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

html,body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    width: 100%;
	scroll-behavior: smooth;
}

body{
	background-color: #fcfcfc;
	color: black;
	padding: 0px;
	margin: 0px;
 	font-family: Fira Code,sans-serif;
 	font-weight: 400;
 	overflow-x: hidden;
}

input,
textarea,
button,
select,
a,
div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* # is id and . is class , is and space is child*/
#head{
	display: flex;
	background-size: cover;
	transition: 2s;
	font-weight: 600;
}

.part1{
	display: flex;
	height:100vh;
	width:50vw;
	transition: 2s;
	background-image: url("../images/landing.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.div1{
	margin-left: -90vw; 
	padding-left: 10vw;
}

.div2{
	padding-left: 10vw;
}

.padding {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: 2s;	
}

.main, .hello{
	width: 80vw;
}

.text {
	font-family: Ubuntu, sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	line-height: 1em;
}

.main {
	font-size: 2.5em;
	font-weight:500;
	color: #fcfcfc;
}

.title{ 
	height: 100px;
	line-height: 50px;
}

.hello{
	display: block;
	margin: auto;
}

.mobile{
	background-color: rgb(210, 204, 196, 0.7);
	display: flex;
	color: #000;
	z-index: 800;
	width: 100%;
	border-top: 5px solid rgb(0, 0, 0, 1);
}
.navBar{
	position: relative;
	left: 0px;
	right: 0px;
	display: flex;
	color: #000;
	cursor: pointer;
	overflow: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none; 
	scroll-behavior: smooth;
}

.navBar::-webkit-scrollbar {
  display: none;
}
.navBar a{
	text-decoration: none;
	flex: 0 0 80vw;
	margin: auto;
}

.tab-btn{
	flex: 0 0 5vw;
	padding: 10px;
	z-index: 900;
}

.tab{
	text-align: center;
	cursor: pointer;
	margin: 0 auto;
	margin-right: 12px;
	padding: 7px 20px 7px 20px;
	font-weight: 500;
	font-size: 1.2em;
	position: relative;
	transition: 1s;
	text-decoration: none;
	color: #000;
}

.tab:hover{
	/*background-color: #fcfcfc;*/
	color: black;
	font-weight: bolder;
	transition: 0.1s;
}

.active{
	/*background-color: #fcfcfc;*/
	color: black;
	font-weight: bolder;
}

.fixed{
	position: fixed;
	top: 0px;
}

.hide{
	display: none;
}

.show{
	display: block;
}

.back{
	position: fixed;
	top: 50px;
	left: 46px;
	text-align: center;
	z-index: 900;
}

.round{
	width: 60px;
	height: 60px;
	background-color: #d3d3d3;
	border-radius: 50%;
	z-index: 900;
	float: left;
	position: relative;
	left: -30px;
	justify-content: center;
	align-content: center;
}

.play{
	width: 0px;
	height: 20px;
	position: relative;
	left: 2px;
	border-width: 12px 0px 12px 20px;
	padding: 0px;
	margin: 18px 20px 18px 20px;
	border-color: transparent transparent transparent #202020;
	border-style: solid;
	box-sizing: border-box;
	background: transparent;
	z-index: 1000;
	cursor: pointer;
	transition: 0.2s;

}
.play:focus {
	outline: 0;
}
.play:hover {
	border-color: transparent transparent transparent #404040;

}
.list{
	width:260px;
	position: fixed;
	top: 50px;
	left: 46px;
	background-color: rgb(109,109, 109, 0.2);
	border-radius: 5px;
	color: white;
	max-width: 0;
	overflow: hidden;
	transition: 1.5s;

}
#song-text{
	text-align: center;
	padding: 0;
	height: 60px;
	margin: 0px;
	line-height: 60px;
}

.row{
	display: flex;
	cursor: pointer;
}

.other{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: red;
}

.pointer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
}

.playlist p{
	margin: 5px;

}

.playlist {
	font-family: Ubuntu, sans-serif;
	text-align: left;
	font-size: 0.9em;
	max-height: 0;
	overflow: hidden;
	transition: 0.5s;

}

.back:hover .list{
	padding: 20px;
	padding-top: 0px;
	max-width: 500px;
	transition: 0.5s;

}

.back:hover .playlist{
	max-height: 200px;
	transition: 1.5s;
}

.back:hover #song-text{
	border-bottom: 2px solid rgb(109, 109, 109, 0.5);
}

.pause{
	left: 0px;
	border-width: 0px 0px 0px 20px;
	margin: 20px;
	border-style: double;
	/*top: 20px;
	left: 5px;*/

}

.current{
	background-color: #69e495;
}

#main section{
	padding-top: 60px;
	position: relative;
	z-index: 700;
}

#about{
	height: auto;
	overflow-y: auto;
}

.container {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  margin: 100px 0 100px 0;
}

.card{
	flex:1 0 calc(100% - 112px);
	padding: 16px;
 	margin: 40px;
 	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2);
 	background-color: #fff;
	border-radius: 5px;
	cursor: pointer;
	transform: scale(0);
	animation: zoom 0.6s ease-in forwards;
	text-decoration: none;
	color: black;
}

.about{
	width: 80%;
	height: 40vh;
	object-fit: contain;
	object-position: center;
	display: block;
	margin: auto;
}

.about-text{
	text-align: center;
	font-family: Ubuntu, sans-serif;
}
#projects{
}

.skills-container{
	width: 100%;
	max-width: 320px;
	margin-bottom: 100px;
	display: block;
	margin: 0 auto;
}
.hex-row{
	clear: left;
}
.hex-cell{
	float: left;
	margin-left: 2px;
	margin-bottom: -21px;
	cursor: pointer;
	transition: 0.5s;
	transform: scale(0);
	animation: play 0.5s ease-in forwards;
}
.hex-cell:nth-child(1){
	animation-delay: 0.6s;
}
.hex-cell:nth-child(2){
	animation-delay: 0.45s;
}
.hex-cell:nth-child(3){
	animation-delay: 0.30s;
}
.hex-cell:nth-child(4){
	animation-delay: 0.15s;
}

.hex-cell .cell-top{
	width: 0;
	border-bottom: 23px solid #fff;
	border-left: 39px solid transparent;
	border-right: 39px solid transparent;
}

.hex-cell .cell-bottom{
	width: 0;
	border-top: 23px solid #fff;
	border-left: 39px solid transparent;
	border-right: 39px solid transparent;
}

.hex-cell .cell{
	width: 78px;
	height: 45px;
	text-align: center;
	background-color: #fff;
	cursor: pointer;
}

.hex-cell:hover .skill{
	transform: scale(1.2);
}

.skill{
	height: auto;
	width: 53px;
	transition: 0.5s;
	position: relative;
	top: -10px;
	font-size: 45px;
	display: block;
	margin: auto;
	object-fit: contain;	
	cursor: pointer;

}

.medium{
	width: 60px; 
	top: -10px;
}

.large{
	width: 70px;
}

.m1{
	margin-left: 120px;
}

.m2{
	margin-left: 40px;
}

@keyframes play{
	0%{
		transform: scale(0);
	}
	50%{
		transform: scale(1.2);
	}
	100%{
		transform: scale(1);
	}
}

@keyframes zoom{
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(1);
	}
}

#reach-out{
	height: 100vh;
	overflow-y: hidden;
}

#reach-out .vertical-center{
	height: 100%;
	margin: 20px;
}

.wrapper{
	width: 100%;
	height: 100%;
	padding-top: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}


.background {
	background-size: contain;
	position: absolute;
	transition: 1s;
	top: 0;
	width: 100%;
	z-index: -1;
	height: 100%;
	background: #d2ccc4;
	background: -webkit-linear-gradient(135deg, #2f4353 0%, #d2ccc4 74%);
	background: linear-gradient(135deg, #2f4353 0%, #d2ccc4 74%);
	filter: blur(4px);
  	background-repeat: no-repeat;
}

.contact-card-container{
	color: #fcfcfc;
	text-align: center;
	font-family: 'Fira Code';
	font-size: 1.5em;
}

.contact-card{
	position: relative;
	width: 99px;
	height: 99px;
	margin: 1em;
	padding: 10px;
	border-radius: 50%;
	background-color: white;
	box-shadow: 0 10px 16px 0 rgba(99, 16, 49,0.5);
	transition: 0.4s;
	display: flex; 
	flex-direction: vertical;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	animation: zoom 0.6s ease-in;
}

.contact{
  width: 80px;
}

.row{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.contact-card:hover{
	transform: scale(1.1);
}

.center{
	display: block;
	margin: 0 auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #EEF5F9; 
}

::-webkit-scrollbar-thumb {
  background: #2F3129; 
}

::-webkit-scrollbar-thumb:hover {
  background: #272822; 
}
