@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

html,body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    width: 100%;
	scroll-behavior: smooth;
}

body{
	background-color: #fcfcfc;
	color: black;
	padding: 0px;
	margin: 0px;
 	font-family: Fira Code,sans-serif;
 	font-weight: 400;
 	overflow-x: hidden;
}

.init{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-height: 100vh;
	overflow: hidden;
}

.prebody{
 	overflow: hidden;
	width:100vw;
	height: 100vh;
}
.fade{
	animation: fade 0.5s ease-in forwards;	
}

.fade-out{
	animation: fade-out 0.5s ease-in forwards;	
}

.body{
 	opacity: 0;
}

.zoomToFill{
	animation: zoomFill 2s ease-in forwards;
}

@keyframes zoomFill{
	0%{
		transform: scale(1);
	}
	100%{
		transform: scale(1000);
	}
}

@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes fade-out{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

input,
textarea,
button,
select,
a,
div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* # is id and . is class , is and space is child*/
#head{
	display: flex;
	background-size: cover;
	transition: 2s;
	font-weight: 600;
}

.part1{
	display: flex;
	height:100vh;
	width:50vw;
	transition: 2s;
	background-image: url("../images/landing.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.div1{
	margin-left: -90vw; 
	padding-left: 10vw;
}

.div2{
	padding-left: 10vw;
}

.padding {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: 2s;	
}

.main, .hello{
	width: 80vw;
}

.text {
	font-family: Ubuntu, sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	line-height: 1em;
}

.main {
	font-size: 2.5em;
	font-weight:500;
	color: #fcfcfc;
}
h1{
	margin: 0px;
	padding: 0px;
}

.title{ 
	height: 100px;
	line-height: 50px;
}

.hello{
	display: block;
	background-color: none;
	margin: auto;
}

.left{
	text-align: left;
}

.centered{
	text-align: center;
}

.med-height{
	height: 100px;
}

.mobile{
	background-color: rgb(210, 204, 196, 1);
	display: flex;
	color: #000;
	z-index: 800;
	width: 100%;
	border-top: 5px solid rgb(0, 0, 0, 1);
}

#notification a{
	text-decoration: underline;
	cursor: pointer;
}

.notification{
	background-color: #CCE5FF;
	color: #5F8DBE;
	display: block;
	text-align: center;
	border: 0px;
	padding: 20px;
}
.navBar{
	position: relative;
	left: 0px;
	right: 0px;
	display: flex;
	color: #000;
	cursor: pointer;
	overflow: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none; 
	scroll-behavior: smooth;
}

.navBar::-webkit-scrollbar {
  display: none;
}
.navBar a{
	text-decoration: none;
	flex: 0 0 80vw;
	margin: auto;
}

.tab-btn{
	flex: 0 0 5vw;
	padding: 10px;
	z-index: 900;
}

.tab{
	text-align: center;
	cursor: pointer;
	margin: 0 auto;
	margin-right: 12px;
	padding: 7px 20px 7px 20px;
	font-weight: 500;
	font-size: 1.2em;
	position: relative;
	transition: 1s;
	text-decoration: none;
	color: #000;
}

.tab:hover{
	/*background-color: #fcfcfc;*/
	color: black;
	font-weight: bolder;
	transition: 0.1s;
}

.active{
	/*background-color: #fcfcfc;*/
	color: black;
	font-weight: bolder;
}

.fixed{
	position: fixed;
	top: 0px;
}

.hide{
	display: none;
}

.show{
	display: block;
}

.back{
	position: fixed;
	top: 50px;
	left: 46px;
	text-align: center;
	z-index: 900;
}

.round{
	width: 60px;
	height: 60px;
	background-color: #d3d3d3;
	border-radius: 50%;
	z-index: 900;
	float: left;
	position: relative;
	left: -30px;
	justify-content: center;
	align-content: center;
}

.play{
	width: 0px;
	height: 20px;
	position: relative;
	left: 2px;
	border-width: 12px 0px 12px 20px;
	padding: 0px;
	margin: 18px 20px 18px 20px;
	border-color: transparent transparent transparent #202020;
	border-style: solid;
	box-sizing: border-box;
	background: transparent;
	z-index: 1000;
	cursor: pointer;
	transition: 0.2s;

}
.play:focus {
	outline: 0;
}
.play:hover {
	border-color: transparent transparent transparent #404040;

}
.list{
	width:260px;
	position: fixed;
	top: 50px;
	left: 46px;
	background-color: rgb(109,109, 109, 0.2);
	border-radius: 5px;
	color: white;
	max-width: 0;
	overflow: hidden;
	transition: 1.5s;

}
#song-text{
	text-align: center;
	padding: 0;
	height: 60px;
	margin: 0px;
	font-size: 0.8em;
	line-height: 60px;
}

.other{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: red;
}

.pointer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
}

.playlist p{
	margin: 5px;

}

.playlist {
	text-align: left;
	font-size: 0.8em;
	max-height: 0;
	overflow: hidden;
	transition: 0.5s;

}

.back:hover .list{
	padding: 20px;
	padding-top: 0px;
	max-width: 500px;
	transition: 0.5s;

}

.back:hover .playlist{
	max-height: 200px;
	transition: 1.5s;
}

.back:hover #song-text{
	border-bottom: 2px solid rgb(109, 109, 109, 0.5);
}

.pause{
	left: 0px;
	border-width: 0px 0px 0px 20px;
	margin: 20px;
	border-style: double;
}

.current{
	background-color: #69e495;
}

#main section{
	padding-top: 60px;
	position: relative;
	z-index: 700;
}

#about{
	background: #d2ccc4;
	background: -webkit-linear-gradient(0deg, #2f4353 0%, #d2ccc4 74%);
	background: linear-gradient(0deg, #2f4353 0%, #d2ccc4 74%);
  	background-repeat: no-repeat;
	overflow-y: auto;
	overflow-x: hidden;
}


#about .row{
	flex: 1;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 8px;
	cursor: pointer;
	justify-content: center;
	align-items: center;
}

.collage-img{
	object-fit: cover;
	object-position: center;
	border-radius: 16px;
	width: 100%;
	height: 100%;
	opacity: 0;
}

p{
	word-wrap: break-word;
}

.column {
	flex: 1;
	flex-basis: calc(100% - 16px);
	max-width: calc(100% - 16px);
	padding: 0 8px;
	display: flex;
	flex-direction: column;
}

#about .column{
	height: 100%;
}

.content {
	flex: 1;
	margin-top: 16px;
	border-radius: 16px;
	padding: 16px;
	width: calc(100% - 32px);
	display: flex;
	text-align: justify;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	animation: zoom 0.5s ease-in forwards; 
	background-color: rgb(252, 252, 252);
	box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.5);
}

.img-content{
	padding: 0px;
	width: 100%;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.5);

}

.short{
	flex-basis: calc(20% - 24px);
	max-height: calc(20% - 24px);
	height: calc(20% - 24px);
	transform: scale(0);
	animation-delay: 0.45s;
}
.medium{
	flex-basis: calc(30% - 24px);
	max-height: calc(30% - 24px);
	height: calc(30% - 24px);
	transform: scale(0);
	animation-delay: 0.3s;
}

.long{
	flex-basis: calc(50% - 24px);
	max-height: calc(50% - 24px);
	height: calc(50% - 24px);
	animation: zoom 0.5s ease-in; 
}

/*.orange{
	background-color: #f83;
	color: #fff;
}

.grey{
	background-color: #ddd;
	color: #000;
}

.green{
	background-color: #cc6;
	color: #3a3a3a;
}*/

.card-text{
	width: 100%;
	display: block;
	margin: auto;
	text-align: justify;
}

.card-title{
	font-size: 1.3em;
	margin: 0;
	text-align: center;
}

.card-subtitle{
	font-size: 0.8em;
	margin: 0;
	text-align: center;
}

.join{
	font-size: 0.9em;
	text-align: center;
}

.col{
	width: 100%;
}

.btn{
	padding: 10px;
	background-color: #d2ccc4;
	text-align: center;
	border-radius: 5px;
	color: black;
	transition: 0.5s;
	text-decoration: none;
}

.btn:hover{
	transform: scale(1.1);
}


#projects{
	min-height: 90vh;
}

.skills-container{
	width: 100%;
	display: table;
	max-width: 320px;
	margin-bottom: 100px;
	margin: 0 auto;
}

.hex-row{
	clear: left;
}

.hex-cell{
	float: left;
	margin-left: 2px;
	margin-bottom: -21px;
	cursor: pointer;
	transition: 0.5s;
	transform: scale(0);
	animation: play 0.5s ease-in forwards;
}
.hex-cell:nth-child(1){
	animation-delay: 0.6s;
}
.hex-cell:nth-child(2){
	animation-delay: 0.45s;
}
.hex-cell:nth-child(3){
	animation-delay: 0.30s;
}
.hex-cell:nth-child(4){
	animation-delay: 0.15s;
}

.hex-cell .cell-top{
	width: 0;
	border-bottom: 23px solid #fff;
	border-left: 39px solid transparent;
	border-right: 39px solid transparent;
}

.hex-cell .cell-bottom{
	width: 0;
	border-top: 23px solid #fff;
	border-left: 39px solid transparent;
	border-right: 39px solid transparent;
}

.hex-cell .cell{
	width: 78px;
	height: 45px;
	text-align: center;
	background-color: #fff;
	cursor: pointer;
}

.hex-cell:hover .skill{
	transform: scale(1.2);
}

.skill{
	height: auto;
	width: 53px;
	transition: 0.5s;
	position: relative;
	top: -10px;
	font-size: 45px;
	display: block;
	margin: auto;
	object-fit: contain;	
	cursor: pointer;

}

.large{
	width: 70px;
}

.m1{
	margin-left: 120px;
}

.m2{
	margin-left: 40px;
}

.project-skill-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.project-skill{
	height: 30px;
	margin: 10px;
}


.project-row {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	padding: 8px;
}

.project-content {
	margin: 16px;
	border-radius: 16px;
	flex: 1;
	flex-basis: calc(100% - 24px);
	padding: 16px;
	text-align: justify;
	transition: 0.5s;
	animation: zoom 0.5s ease-in forwards; 
	background-color: rgb(252, 252, 252);
	box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.5);
	transform: scale(0);
	animation-delay: 0.3s;
	position: relative;
	cursor: pointer;
}

.project-content .overlay{
	position: absolute;
	background-color: rgb(0,0,0,0);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 16px;
	transition: 0.5s;
	display: none;
	justify-content: center;
	align-items: center;
}

.project-content:hover .overlay{
	display: flex;
	background-color: rgb(0,0,0,0.8);
}

.project-content .source{
	color: #3a3a3a;
	background-color: #fcfcfc;
	border-radius: 5px;
	margin: 5px;
}


@keyframes play{
	0%{
		transform: scale(0);
	}
	50%{
		transform: scale(1.2);
	}
	100%{
		transform: scale(1);
	}
}

@keyframes zoom{
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(1);
	}
}

#reach-out{
	height: 100vh;
	overflow-y: hidden;
	overflow-x: hidden;
}

.wrapper{
	width: 100%;
	height: 100%;
	padding-top: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}


.background {
	background-size: contain;
	position: absolute;
	transition: 1s;
	top: 0;
	width: 100%;
	z-index: -1;
	height: 100%;
	background: #d2ccc4;
	background: -webkit-linear-gradient(0deg, #2f4353 0%, #d2ccc4 74%);
	background: linear-gradient(0deg, #2f4353 0%, #d2ccc4 74%);
  	background-repeat: no-repeat;
}

.contact-card-container{
	color: #fcfcfc;
	text-align: center;
	font-family: 'Fira Code';
	font-size: 1.5em;
}

.contact-card{
	position: relative;
	width: 99px;
	height: 99px;
	margin: 1em;
	padding: 10px;
	border-radius: 50%;
	background-color: white;
	box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.5);
	transition: 0.4s;
	display: flex; 
	flex-direction: vertical;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	animation: zoom 0.6s ease-in;
}

.contact{
  width: 80px;
}

.contact-card:hover{
	transform: scale(1.1);
}

.source{
    color: #fff;
    display: inline-block;
    padding: 10px 16px;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.05);
    line-height: 1.5;
    transition: 0.5s;
}

.github,.source svg{
	width: 20px;
    vertical-align: text-bottom;
    margin-bottom: -2px;
    margin-right: 6px;
}

.source:hover{
	transform: scale(1.1);
}

.center{
	display: block;
	margin: 0 auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #EEF5F9; 
}

::-webkit-scrollbar-thumb {
  background: #2F3129; 
}

::-webkit-scrollbar-thumb:hover {
  background: #272822; 
}
